# Ignore everything in data/ folder
data/**

# But keep specific .tar.gz files in data/
!data/1908.08215.tar.gz
!data/1911.06660.tar.gz
!data/1912.08479.tar.gz
!data/1909.09226.tar.gz

# Ignore auxiliary/ and validation/ folders in root
/auxiliary/
/validation/

#Ignore pycache folders
**/__pycache__

#Ignore log files
training/log.txt
sampling/log.txt
sampling/logs/
